.slider{
    appearance: none;
    height: 5px;
    background-color: rgb(56, 156, 202);
    transition: opacity .3s;
}
.slider::-webkit-slider-thumb{
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid salmon;
    cursor: pointer;
    border-radius: 100%;
}